@media screen and (max-width: 1640px){

    .navbar
    {
        display: grid;
        width: 100%;
        grid-template-columns: 7fr 20fr 0.9fr 1fr;
        height: 80px;
        position: fixed;
        align-items: center;
        box-shadow: 4px 0 7px 0 black;
        z-index: 1;
        padding: 0px 20px;
        
    }
    

    .sidebar
    {
        position: fixed;
        top: 80px;
        width: 200px;
        height: 100%;
        background-color: green;
    }
    
    .menu-1
    {
        color: white;
        font-size: 18px;
        
    }
    
    .main
    {
        position: fixed;
        top: 60px;
        width: calc(100% - 200px);
        left: 200px;
        min-height: 100vh;
    
    }
    
    
    
    .chart {
        text-align: center;
        width: 100%;
    }
    
    .charts
    {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 2px;
        width: 100%;
        padding: 0px;
        padding-top: 0;
    }
    
    #linechart {
        display: block;
        box-sizing: border-box;
        height: 180px;
        width: 360px;
        margin-top: 40px;
        margin-left: 30px;
    }
    
    #doughnut {
    
        height: 280px;
        width: 315px;
        margin-top: 30px;
        margin-left: 30px;
    
    }
    
    
    .text {
        text-align: center;
    }

    
}







@media (max-width: 1199px){

    .navbar
    {
        display: grid;
        width: 100%;
        grid-template-columns: 8fr 20fr 0.9fr 2fr;
        height: 80px;
        position: fixed;
        align-items: center;
        box-shadow: 4px 0 7px 0 black;
        z-index: 1;
        padding: 0px 20px;
        
    }

    .sidebar
    {
        position: fixed;
        top: 80px;
        width: 200px;
        height: 100%;
        background-color: green;
    }
    
    .menu-1
    {
        color: white;
        font-size: 18px;
        
    }
    
    .main
    {
        position: fixed;
        top: 60px;
        width: calc(100% - 200px);
        left: 200px;
        min-height: 100vh;
    
    }
    
    
    
    .chart {
        text-align: center;
        width: 100%;
    }
    
    .charts
    {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 2px;
        width: 100%;
        padding: 0px;
        padding-top: 0;
    }
    
    #linechart {
        display: block;
        box-sizing: border-box;
        height: 180px;
        width: 360px;
        margin-top: 40px;
        margin-left: 30px;
    }
    
    #doughnut {
    
        height: 280px;
        width: 315px;
        margin: 0 auto;
    
    }
    
    
    .text {
        text-align: center;
    }
    
    }


@media (max-width: 991px){
    .navbar
    {
        display: grid;
        width: 100%;
        grid-template-columns: 6fr 20fr 0.9fr 1fr;
        height: 80px;
        position: fixed;
        align-items: center;
        box-shadow: 4px 0 7px 0 black;
        z-index: 1;
        padding: 0px 20px;
        
    }

    .sidebar
{
    position: fixed;
    top: 80px;
    width: 48px;
    height: 100%;
    background-color: green;
}

.menu-1
{
    color: white;
    font-size: 18px;
    display: none;
    
}

.main
{
    position: fixed;
    top: 60px;
    width: calc(100% - 48px);
    left: 48px;
    min-height: 100vh;

}

#linechart {
    display: block;
    box-sizing: border-box;
    height: 180px;
    width: 360px;
    margin-top: 40px;
    margin-left: 30px;
}

#doughnut {

    height: 280px;
    width: 315px;
    margin: 0 auto;

}


.chart {
    text-align: center;
    width: 100%;
}

.charts
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2px;
    width: 100%;
    padding: 0px;
    padding-top: 0;
}



.text {
    text-align: center;
}

}



@media (max-width: 767px){
    .navbar
    {
        display: grid;
        width: 100%;
        grid-template-columns: 7fr 20fr 0.9fr 1fr;
        height: 80px;
        position: fixed;
        align-items: center;
        box-shadow: 4px 0 7px 0 black;
        z-index: 1;
        padding: 0px 20px;
        
    }

    .sidebar
{
    position: fixed;
    top: 80px;
    width: 48px;
    height: 100%;
    background-color: green;
}

.menu-1
{
    color: white;
    font-size: 18px;
    display: none;
}

.main
{
    position: fixed;
    top: 60px;
    width: calc(100% - 48px);
    left: 48px;
    min-height: 100vh;
    overflow-y: scroll;

}

.cards
{
    width: 100%;
    padding: 35px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 

}

.number {
    font-size: 25px;
}

#linechart {
    display: block;
    box-sizing: border-box;
    height: 180px;
    width: 360px;
    margin-top: 40px;
    margin-left: 30px;
}

#doughnut {

    height: 280px;
    width: 315px;
    margin: 0 auto;

}


.chart {
    text-align: center;
    width: 100%;
}

.charts
{
    display: grid;
    /* grid-template-columns: 0fr 0fr; */
    grid-gap: 10px;
    width: 100%;
    display: block;
    height: 240px;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.text {
    text-align: center;
}

}



@media (max-width: 576px){

    .navbar
{
    display: grid;
    width: 100%;
    grid-template-columns: 5fr 12fr 0.8fr 1fr;
    height: 80px;
    position: fixed;
    align-items: center;
    box-shadow: 4px 0 7px 0 black;
    z-index: 1;
    padding: 0px 20px;
    
}

.sidebar
{
    position: fixed;
    top: 80px;
    width: 48px;
    height: 100%;
    background-color: green;
}

.menu-1
{
    color: white;
    font-size: 18px;
    display: none;
}

.main
{
    position: fixed;
    top: 60px;
    width: calc(100% - 48px);
    left: 48px;
    min-height: 100vh;
    overflow-y: scroll;

}

.cards
{
    width: 100%;
    padding: 35px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 

}

.number {
    font-size: 25px;
}


.chart {
    text-align: center;
    width: 100%;
}

.charts
{
    display: grid;
    /* grid-template-columns: 0fr 0fr; */
    grid-gap: 10px;
    width: 100%;
    display: block;
    height: 240px;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.text {
    text-align: center;
}

}

